:root {
  --themes-main-color: #000;
  --accent-font: "Press Start 2P";
  --main-font: Inter;
  --font-weight: 400;
  --font-weight-bold: 700;
  --background-color: #fff;
  --font-size: 18px;
  --text-shadow: rgba(255, 255, 255, 0.5);
  --text-stroke: #fff;
  --button-text-color: #fff;
  --filling: #ff0000;
  --background-image: repeating-linear-gradient(
      to bottom,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
}
